# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pytest cache
.pytest_cache/

# Environment directories
.env
.venv/

# VS Code settings
.vscode/

#outputs
outputs/

#job
job_logs/
jobs_state.json