# watchdog==4.0.2
watchdog

loadit
wandb
tqdm
hydra-core
einops
tqdm
dataclasses
pydantic

# Below we use the stable versions for consistency.
# torch==2.2.2
torch
torchvision
jax
# optax 0.2.2 uses scipy.linalg.tril, which is removed in scipy >1.13.0
# scipy==1.12.0
scipy
# optax==0.2.2
optax
# equinox==0.11.3
equinox
# datasets==2.18.0
datasets
# transformers==4.38.2
transformers
jaxamp